#Container {
    background-color: #f2efde;
    height: 60vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#Container .MuiFormControl-root {
    width: 100%;
    margin-bottom: 20px;
}

#Container .MuiTextField-root {
    width: 100%;
}

.TablePackages {
    flex-direction: column;
    max-width: 100%;
}