h4{
    font-family: Arial, sans-serif; /* Schriftart */
  font-size: 2em; /* Schriftgröße */
  margin-bottom: 10px; /* Abstand nach unten */
  margin-top: 0;
  
}

#Container-GPIOs{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.Row-GPIOs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.normal-text {
    font-size: 1.5em; /* Erhöhen Sie die Schriftgröße */
    margin-right: 3px;
}

.light {
    width: 10vw; /* Anpassen der Breite basierend auf der Viewport-Breite */
    height: 10vw; /* Anpassen der Höhe basierend auf der Viewport-Breite */
    max-width: 40px; /* Maximale Breite für kleinere Bildschirme */
    max-height: 40px; /* Maximale Höhe für kleinere Bildschirme */
    border-radius: 50%;
    margin: 2vh; /* Anpassen des Abstands basierend auf der Viewport-Höhe */
    position: relative;
    background-color: rgb(27, 109, 51);
  }

.an {
  box-shadow: 0 0 20px 5px #981818, 0 0 20px 5px currentColor;
  background-color: #981818;
 
  }