.navbar {
    margin: 2%;
    max-width: 100%;
}

.Logo {
    width: 100%;
    height: 100%;
    max-width: 50px;
}


.buttonWithMargin {
    margin: 20px;
    padding: 10px;
}

#softwareVersion {
    font-size: small;
}

.list {
    width: 90%;
}

.menuButton {
    margin-right: auto;
}