html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
    padding: 5vh;
    background-color: white;
    width: 100%;
    height: 100vh; /* Ändern Sie dies zu 100vh */
    display: grid;
    grid-template-columns: 1fr 1fr; /* Zwei Spalten mit gleicher Breite */
    grid-gap: 2cap; /* Abstand zwischen den Containern */
    margin: 30px;
  }