.container-output {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 5%;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    justify-content: space-around;
    
}

.light {
    width: 10vw; /* Anpassen der Breite basierend auf der Viewport-Breite */
    height: 10vw; /* Anpassen der Höhe basierend auf der Viewport-Breite */
    max-width: 40px; /* Maximale Breite für kleinere Bildschirme */
    max-height: 40px; /* Maximale Höhe für kleinere Bildschirme */
    border-radius: 50%;
    margin: 2vh; /* Anpassen des Abstands basierend auf der Viewport-Höhe */
    position: relative;
    background-color: yellow;
  }

.an {
  box-shadow: 0 0 20px 5px #4108dd, 0 0 20px 5px currentColor;
 
  }

