.element {
    width: 50%;
    height: 200px;
    border-radius: 10px;
    background-color: #ccc;
    text-align: center;
    position: relative;
    margin-left: 10%;
    margin-right: 60%;

  }

.container-input {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 5%;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    justify-content: space-around;
    

}

.space {
    margin-top: 10px;
}